@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

.sidebar{
    /* position: absolute; */
    /* top:0px; */
    width: 20%;
    height: 86%;
    z-index: 1;
    background-color: black;
flex-direction: column;
}

.sidebarInnerBox{
    height: 50%;
    flex-direction: column;
}

.profileIcon{
    border-radius: 50%;
    width: 100px;
    height: 100px;
    border: 2px solid blue;
}

.profileItems{
width: 85%;
}

.profileItemText{
    font-family: 'Poppins';
    font-weight: 500;
    font-size: 20px;
    color: #fff;
}