.album-card-container {
    /* border: 2px solid black; */
    width: 165px;
    margin-bottom: 3rem;
}

.album-img {
    width: 165px;
    height: 158px;
}

.album-head {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    color: #FFFFFF;
    text-align: center;
    margin-bottom: unset;
    margin-top: 20px;
}

.album-txt {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    color: #787272;
    text-align: center;
}
@media screen and (max-width:768px) {
    .album-card-container {
        width: 172px;
    }
}
@media screen and (max-width:540px) {
    .album-heading {
        font-size: 20px;
    }

    .album-card-container {
        display: flex;
    }
    .album-container2 {
        padding: 0px 15px;
    }

    .album-img {
        width: 63px;
        height: 63px;
    }
    .album-card-container1{
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-left: 20px;
    }

    .album-head {
        font-weight: 700;
        font-size: 20px;
        margin-top: unset;
    }

    .album-txt {
        font-weight: 500;
        font-size: 12px;
    }
}