.content-box {
    /* border: 2px solid red; */
    background: linear-gradient(180deg, #062953 60.42%, #000000 91.15%);
    width: 100%;
    /* height: 80vh; */
    display: flex;
}
.sidebar{
    background-color: red;
    width: 20%;
    height: 80vh;
}
.album{
    background-color: rgb(44, 44, 55);
    width: 80%;
    padding-bottom: 5rem;
    /* height: 80vh; */
}