@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@800&display=swap');

.album-container {
    background-color: rgb(48, 47, 49);
    width: 100%;
    padding-bottom: 5rem;
}

.album-container1 {
    /* border: 2px solid black; */
    height: 20vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.album-heading {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 800;
    font-size: 48px;
    color: #FFFFFF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.album-container2 {
    /* border: 2px solid rgb(37, 37, 37); */
    padding: 0px 50px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
}


@media screen and (max-width:540px) {
    .album-heading {
        font-size: 20px;
    }
    .album-container2 {
        padding: unset;
    }
}