.liked-img-container1 {
    /* border: 2px solid yellow; */
    width: 72px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
}


.liked-txt {
    /* border: 2px solid yellow; */
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 10px;
}

.liked-para1 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    color: #FFFFFF;

}

.liked-para2 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 10px;
    color: #787272;

}

.liked-like {
    /* border: 2px solid black; */
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: end;
}

.liked-like-icon {
    width: 30px;
    height: 30px;
}


@media screen and (max-width:1024px) {
    .liked-txt {
        width: 30%;
    }

    .liked-like {
        width: 70%;
    }
}

@media screen and (max-width:540px) {
    .liked-img-container1 {
        width: 39px;
        height: 37px;
    }
    .liked-txt{
        width: 100%;
    }
    .liked-para1{
        font-size: 9px;
    }
    .liked-like-icon {
        width: 20px;
        height: 20px;
    }
}