.liked-container1 {
    /* border: 2px solid red; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 24vh;
}

.liked-heading {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 800;
    font-size: 48px;
    color: #FFFFFF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

}

.liked-play-img {
    width: 76px;
    height: 77px;
}

.liked-container2 {
    /* border: 2px solid rgb(153, 144, 144); */
    width: 100%;
    height: 100%;
    padding: 0px 100px;
    display: flex;
    margin-top: 20px;
}

.liked-img-container1 {
    /* border: 2px solid yellow; */
    width: 72px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.liked-icon {
    width: 72px;
    height: 70px;
}

.liked-txt {
    /* border: 2px solid yellow; */
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 10px;
}

.liked-para1 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    color: #FFFFFF;

}

.liked-para2 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 10px;
    color: #787272;

}

.liked-like {
    /* border: 2px solid black; */
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: end;
}

.liked-like-icon {
    width: 30px;
    height: 30px;
}

@media screen and (max-width:1024px) {
    .liked-txt {
        width: 30%;
    }

    .liked-like {
        width: 70%;
    }
}

@media screen and (max-width:768px) {
    .liked-container2 {
        padding: 0px 35px;
    }
}

@media screen and (max-width:540px) {
    .liked-container1 {
        height: 15vh;
    }

    .liked-heading {
        font-size: 20px;
    }

    .liked-play-img {
        display: none;
    }

    .liked-container2 {
        margin-top: unset;
        padding: 0px 10px;
    }

    .liked-img-container1 {
        width: 39px;
        height: 37px;
    }

    .liked-icon {
        width: 39px;
        height: 37px;
    }
    .liked-txt{
        width: 100%;
    }
    .liked-para1{
        font-size: 9px;
    }
    .liked-like-icon {
        width: 20px;
        height: 20px;
    }
}