@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@800&display=swap');


.login-container {
    /* border: 2px solid red; */
    width: 80%;
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url('./image15.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-left: auto;
}

.login-heading {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 140px;
    color: #FFFFFF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.login-card-container {
    background: linear-gradient(180deg, #000000 0%, #000000 54.17%, #062953 100%);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 40px;
    width: 926px;
    height: 390px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.login-card-heading {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 50px;
    color: #FFFFFF;
}

.login-btn1 {
    border: none;
    width: 627px;
    height: 59px;
    background: #4267B2;
    border-radius: 30px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    text-align: center;
    color: #FFFFFF;
    background-image: url('./image14.png');
    background-repeat: no-repeat;
    background-position: 30px;
}

.login-btn2 {
    border: none;
    width: 627px;
    height: 59px;
    background: #FFFFFF;
    border-radius: 30px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    text-align: center;
    color: #000000;
    background-image: url('./image13.png');
    background-repeat: no-repeat;
    background-position: 30px;
}

@media screen and (max-width:1440px) {
    .login-card-container {
        height: 340px;
    }
}

@media screen and (max-width:1024px) {
    .login-card-container {
        height: 340px;
        width: 765px;
    }
}

@media screen and (max-width:768px) {
    .login-container {
        display: flex;
    }

    .login-heading {
        margin-top: 3rem;
        font-size: 100px;
    }

    .login-card-container {
        width: 585px;
    }
    
    .login-btn1 {
        width: 490px;
        height: 50px;
    }
    .login-btn2 {
        width: 490px;
        height: 50px;
    }
}

@media screen and (max-width:540px) {
    .login-container {
        width: 65%;
    }
    .login-heading {
        font-size: 45px;
    }

    .login-card-container {
        width: 208px;
        height: 270px;
    }

    .login-card-heading {
        font-size: 25px;
    }

    .login-btn1 {
        width: 175px;
        height: 34px;
        font-size: 7px;
        background-size: 20px 21px;
        background-position: 10px;    
    }

    .login-btn2 {
        width: 175px;
        height: 34px;
        font-size: 7px;
        background-size: 23px 21px;
        background-position: 10px;    
    }
}