
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');


.navbars{
    height:5rem;
    background: #151414;
}


.btn-style{
    width: 6rem;
    height: 2rem;
    background: #FFFFFF;
    border-radius: 50px;
    font-family: 'Poppins';
    font-size: 1rem;
    font-weight: 500;
    padding: 0;
}
.btn-style:hover{
   border: rgb(0, 255, 76);
   font-weight: 800;
}
@media screen and (max-width:1024px) {
    .navbars{
        height: 4rem;
    }
    .profileItemText{
        font-size: 15px!important;
    }
    img{
        width: 40%;
    }
    .w-50{
        width: 45%!important;
    }
}
@media screen and (max-width:768px) {
    .sidebar{
        width: 30%!important;
    }
    .btn-style{
        font-size: .9rem;
    }
}
@media screen and (max-width:480px) {
    .w-25{
        width: 40%!important;
    }
    .btn-style{
        font-size: .7rem;
    }
    .profileIcon{
        width: 70px!important;
        height: 70px!important;
    }
    .sidebar{
        width: 50%!important;
    }
    .profileItemText{
        font-size: 11px!important;
    }
}
